# Node modules
node_modules/

# Build output
build/
dist/

# Logs
logs
*.log
npm-debug.log*

# Environment Variables
.env

# IDEs and Editors
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS Files
.DS_Store
Thumbs.db

# Optional: Git Files
*.git
